@import "../../global.scss";


.Topbar{
    width: 10000px;
    height: 70px;
    background-color: white;
    color: $mainColor;
    position: fixed;
    top: 0%;
    z-index: 2;
    .wrapper{
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left{

            .logo{
                font-style: 40px;
                font-weight: 700;
                text-decoration: none;
                color: inh;
            }
        }
    }
}